__pycache__/
**DS_Store**
.ipynb_checkpoints
.vscode/
.pytest_cache/
.venv/
venv/
.conda/

# manim media
images/
media/Tex/
media/texts/
videos/manim_scenes/480p15/partial_movie_files/
videos/manim_scenes/1080p60/partial_movie_files/
videos/manim_scenes/2160p60/partial_movie_files/

.github/

.coverage

Tex/
texts/
videos/
paper/main.synctex.gz
paper/main.out
paper/main.log
.gitignore
OLDREADME.md
paper/main.aux
paper/main 2.synctex.gz
